body {background-image: -webkit-linear-gradient(#ffa60085, #80008079); margin: 10px; text-align: center; padding: 0px;}

form {color: rgb(18, 17, 16);}

label {margin: 10px; padding: 1px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;}

#fname {background-color:bisque; width: 300px;}

#lname {width: 200px;}

p {color: #080807; font-size:15px; font-family: Arial, Helvetica, sans-serif;}

#btn {padding: 5px; margin-bottom:500px;}


.formasdepag img {margin-left: 90px; width: 150px; margin-top:190px;}

.imagepag1 img {width: 200px; margin-top:260px; margin-left:150px ; position: fixed;}

.imagepag2 img {width: 235px; margin-top:320px; margin-left:80px ;position: fixed;}

.imagepag3 img {width: 105px; margin-top:420px; margin-left:140px ;position: fixed;}

.titlogo img {width: 100px; margin-top:-108px; margin-left:-205px ;position:fixed;}



.titutelefone {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 20px;  background-color: rgba(0, 255, 98, 0.274);} 




footer {background-color: black; color: antiquewhite; padding: 10px; text-align:center;}